.navbar{
    position: sticky;
    top: 0;
    height: 80px;
    background-color: #7D5452;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar a{
    font-size: 14px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .menu-links {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .menu-links a {
    padding: 8px 16px;
  }

  .menu-links a:active,
  .menu-links a:focus,
.menu-links a:hover {
    font-family: Inter;
    color: #FAC6BF;
    font-weight: 700;
}

.menu-btn{
  font-size: 32px;
  color: #E4D8CC;
  display: none;
  cursor: pointer;
}

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 50px; 
    height: auto;
    margin-right: 15px;
    border-radius: 50%;
  }

  .logo a{
    font-family: Inter;
    color: #E4D8CC;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
  }

  .Products, .Orders, .About, .FAQ, .Login, .Signup{
    color: #E4D8CC;
  }
