body{
    background-color: #E4D8CC;
    color: #7D5452;
}

.Head-title{
    font-family: Inter;
    text-align:center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
   }



.order-container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 20px;
    margin: 30px;
}

.order-item {
    border: 1px solid #7D5452;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 350px;
}

.column-1{
    font-family: Inter;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column-2{
    font-family: Inter;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 30px;
}

.column-3{
    display: flex;
    justify-content: flex-end;
}
.column-3 p{
    font-family: Inter;
    font-size: 20px;
    margin-bottom: 20px;
}

.column-4{
    font-family: Inter;
    display: flex;
    justify-content: space-evenly;
}

.customer-name, .customer-num{
    font-family: Inter;
    font-weight: bold;
    font-size: 20px;
}
.customer-num{
    opacity: .6;
}

.img-fluid{
    height: 250px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-name {
    color: #7D5452;
    margin-bottom: 10px;
    font-size: 20px;
}

.order-info {
    margin-bottom: 5px;
}

